@import "reset.css";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";
@import "@material/typography/mixins";

html {
  font-size: 100%;
}
.body {
  background-color: $color-page-background;
}
.site-content {
  display: flex;
  justify-content: center;
}
.mdc-toolbar-fixed-adjust {
  margin-top: 128px;
}
.mdc-card__primary {
  padding: 16px;
}

//Author info
.author-info__list-item {
  @include mdc-typography(body1);
  margin-bottom: 0.5em;
}
