/* You have to name the colors
 * Check this out: http://chir.ag/projects/name-that-color/#EFEBE9
 */

/* Define the colors */
$color-white: #FFF;
$color-ebb: #EFEBE9;
$color-dusty-grey: #979797;

/* Generic */
$color-page-background: $color-ebb;

/* Cards */
$color-card-background: $color-white;
$color-entry-dates:     $color-white;
